---
---

@import "{{ site.theme }}";

.page-header {
	color: #fff;
	text-align: center;
	background-color: #5691cd;
	background-image: linear-gradient(120deg, #155799, #5691cd);
}

body {
	background-color: #181818;
	color: #959595;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #5691cd;
}
